<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.vladimirlisovskij.simple_mocker.service">

    <application>

        <service
            android:process=":mockerServiceProcess"
            android:name="com.github.vladimirlisovskij.simple_mocker.service.MockerService"
            android:exported="true" />

    </application>

</manifest>